.container {
   padding-right: 0; /*15px in bootstrap.css*/
   padding-left: 0;  /*idem*/
   margin-right: 0;
   margin-left: 0;
   width: 100%;
}

body {
  width: 100%;
  height: 100vh;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

#navbar {
  background-color: black;
  border-radius: 0px;
  margin-bottom: 0px;
}

.wrapper {
    border:1px solid #000;
    display:inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*input,
button {
    background-color:transparent;
    border:0;
}*/

#transcript span {
  display: inline;
  /*padding: 4px 2px;*/
  line-height: 20px;
  cursor: pointer;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 960px;
  height: 100vh;
  overflow: scroll; 
  /*margin: 10px auto;*/
}

#transcript span:hover {
	color: red;
}

#left, #right {
  vertical-align:top;
  display: inline;
  background: #faa;
  width: 40%;
  float: left;
}

#right {
  overflow: scroll;
}

#left {
  margin-right: 22px;
}

#resize-handle {
  /*display: block;*/
  float: left;
  vertical-align: top;
  background: #ddd;
  width: 22px;
  height: 100%;
  position: absolute;
  left:40%;
  cursor:e-resize;
/*  top: 0;
  bottom: 0;*/
}