.container {
   padding-right: 0; /*15px in bootstrap.css*/
   padding-left: 0;  /*idem*/
   margin-right: 0;
   margin-left: 0;
   max-width: none !important;
   width: 100% !important;
}

body {
  width: 100%;
  height: 100vh;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

#navbar {
  /*background-color: black;*/
  /*border-bottom: thin solid red;*/
  background-color: #f0f0f0;

  margin-bottom: 10px;
  height: 60px;
  width: 100%;
}

#video-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: Roboto, arial, sans-serif;
  font-size: 30px;
}


.navbar {
  position: relative;
  border-radius: 0px;
}



.wrapper {
    /*width: 67%;*/
    width: 33%;
    display:inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#yt-link {
  width: 90%;
}


.wrapper button {
    /*margin-left: -1px;*/
    float: right;
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    width: 10%;
    font-size: 14px;
    /*background-color: #e3e2e2;*/
    /*background-color: #FF5E5E;*/
    background-color: red;
    color: white;
    font-weight: bold;
    outline: 1px solid #bfbebe;
    border-left: none;
    border: none;
}

.wrapper button:hover {
    background-color: #cccbcb;
}

.wrapper input {
  width: 90%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  font-size: 20px;
  font-weight: 100;
  color: #cccbcb;
  /*border: 1px solid #bfbebe;*/
  outline:  1px solid #bfbebe;
  border: none;
  margin-right: -1px;

}

.wrapper input:hover {
  outline: 1px solid green;
  /*#c0c0c0;*/
  /*background-color: blue;*/

}

.wrapper input:focus {
  outline: 1px solid pink;
  outline-offset: 0px;
}

#transcript {
  padding: 20px;
  padding-left: 5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  clear: left;
  /*height: 100%;*/
  /* need to set height eventually */ 
}

#transcript span {
  display: inline;
  line-height: 20px;
  cursor: pointer;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  /*overflow: hidden;*/
  /*margin: 10px auto;*/
}

.shading {
  padding: 0px;
  height: 80vh;
  background-color: #f0f0f0;
  position: absolute;
/*  border: 20px solid #f0f0f0;
  border-radius: 20px;*/
  /* Hard "outline" with box-shadow: */
  /*box-shadow: 0 0 5pt 10pt #f0f0f0;*/


    /* #1 */
    
    
    /* #3 
    outline: 5px solid hsl(0, 0%, 60%); */
    
    /* #4 AND INFINITY!!! (CSS3 only) */
    box-shadow: 0 0 0 13px #f0f0f0;
    border-radius: 4px;


}

/*.shading:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 15px solid #ffea00;
}*/

#transcript span:hover {
	/*color: red;*/
  /*font-weight: bold;*/
  text-decoration: underline;
}

#left, #right {
  /*vertical-align:top;*/

  display: inline;
  float: left;
}

#right {
  float: right;
  height: 100%;
  overflow-y: scroll;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px
  padding-left: 0px;
}

#left {
  top: 15%;
  margin-right: 12px;
  padding-left: 0px;
  padding-right: 0px;
  /*background: #faa;*/
}

#instructions{
  margin-top: 30px;
}

#instructions p {
  margin-top:5px;
  margin-bottom: 5px;
  font-family: Roboto, arial, sans-serif;
  font-size: 18px;
}

#main {
  margin-top: 40px;
}

.boxed {
  border: 1px solid gray;
}