.wrapper {
    border:1px solid #000;
    display:inline-block;
}

input,
button {
    background-color:transparent;
    border:0;
}

#transcript span {
  display: inline;
  /*padding: 4px 2px;*/
  line-height: 20px;
  cursor: pointer;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 960px;
  /*margin: 10px auto;*/
}

#transcript span:hover {
	color: red;
}

#left, #right {
  vertical-align:top;
  display: inline-table;
  background: #faa;
  width: 40%;
  overflow: scroll;
}

#left {
  margin-right: 22px;
}


#resize-handle {
  display: block;
  bottom:0;
  background: #ddd;
  width: 22px;
  position: absolute;
  top:0;
  left:40%;
  cursor:e-resize;
}