<!doctype html>
<head>
	<title> Interactive Transcript Viewer </title> 
	<!-- TODO: Add favicon -->
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap-nonresp.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
  <link rel="icon" type="image/png" href="static/img/favicon.ico">
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/bootstrap-nonresp.min.js"></script>
  <!-- <script src="http://ajax.googleapsi.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script> -->
	<!-- <meta name="viewport" content="initial-scale=1"> -->
</head>
<body>
	<div class="container">
    <div id="navbar">

      <form class="wrapper col-xs-5 col-xs-offset-1" id="searchform" action="watch" onsubmit="return loadVideoFormSubmit();">
          <input type="text" id="yt-link" name="v" placeholder="Enter a YouTube URL"  onfocus="if(this.placeholder=='Enter a YouTube URL')this.placeholder='';" onblur="if(this.placeholder=='')this.placeholder='Enter a YouTube URL';"/>
          <button type="submit" >Go!</button>
      </form>
      <div class="col-xs-5 no-padding constrain" id="navright">
        <img id="help" src="static/img/help_icon.gif" <a href="#" data-toggle="tooltip" data-placement="top" title="first tooltip" alt="Help Directions">
      </div>
    </div>

		<div id="main">
      <div class="shading col-xs-10 col-md-offset-1">
  			<div id="left" class="col-xs-5">
  				<div id="player"></div>
  			</div>

  			<div id="right" class="col-xs-5 ">
  				<div id="transcript">
          </div>
  			</div>
      </div>
		</div>
	</div>

  <script type="text/javascript">
  var curVideoId = "{{ytId}}";
  </script>
	<!-- script must be loaded after player div -->
  <script src="static/js/index.js"></script> 

</body>

