<!doctype html>
<head>
  <title> YT Skimmer - About </title> 
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-nonresp.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/about.css">
</head>
<body>
	<h1><span>About</span></h1>
  <div id="info" class="row">
  	<div class="margins col-xs-6 col-xs-offset-3">
			<span>YT Skimmer is designed to </span>
			<span class="bold-text">enhance the online classroom experience </span>
			<span>by allowing students to find the information they want through use of interactive transcripts. It streamlines the process of finding the exact portion of each video containing the relevant information, rather than watching the whole video. </span>
    </div>
  </div>
  <div id="contact">
  </div>
</body>