body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
}

#info {
  background-color: #f0f0f0;
}

.margins {
	margin-top: 60px;
	margin-bottom: 60px;
}

.bold-text {
	font-weight: bold;
}

.title {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 32px;
}

h1 {
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 span {
  background: #fff;
  padding: 0 25px;
  position: relative;
  z-index: 1;
}

h1:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}

h1:before {
  left: 0;
}